/ContaCarattere.java
/ContaRipetizioni.java
/ContaVocali.java
/Doppie.java
/MaiuscoleMinuscole.java
/Motociclo.java
/ParoleQuasiUguali.java
/ProvaVeicolo.java
/Rimpiazza.java
/Veicolo.java
/Vettura.java